@import "tailwindcss";
@import "../styles/theme.css";
@import "../styles/fonts.css";
@import "../styles/scrollbar.css";

/* ====== GLOBAL STYLES ====== */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Satoshi', sans-serif;
  font-size: 1.05rem;
  line-height: 1.5rem;
  transition: background-color 0.1s ease, color 0.1s ease;
}

* {
  transition: background-color 0.25s ease, color 0.25s ease;
}

a:hover {
  color: var(--primary);
}

.perspective-1000 {
  perspective: 1000px;
}